PUBLIC_SITE_TITLE=MSP Trust Dashboard
HALOPSA_BASE_URL=
HALOPSA_CLIENT_ID=
HALOPSA_CLIENT_SECRET=
HALOPSA_REPORT_OPEN_CLOSED_TODAY_ID=304
HALOPSA_REPORT_RESPONSE_TIME_ID=352
HALOPSA_REPORT_RESOLUTION_TIME_ID=353
HALOPSA_REPORT_SLA_RESOLUTION_ID=349
HALOPSA_REPORT_SLA_RESPONSE_ID=350
QUALYS_BASE_URL=
QUALYS_API_KEY=
DATTO_RMM_BASE_URL=
DATTO_RMM_API_KEY=
