---
interface Props {
  title: string;
  intro?: string;
}

const { title, intro } = Astro.props as Props;
---
<div class="section-heading">
  <div>
    <h2>{title}</h2>
    {intro && <p>{intro}</p>}
  </div>
</div>
